$color-deep-grey: #5B605F; //panel boczny, nawigacja
$color-header: #4a4a49; //nagłówek, kolor tekstu w kolumnach
$color-orange: #FF6600; //przyciski, wyróżnienia, nagłówki ekranów
$color-background: #FFFFFA; //kolor tła ekranów
$color-blue: #3498db; //kolor wiadomości typu info,
$color-yellow: #ffb03b; //kolor wiadomości typu warning
$color-green: #468966; //kolor wiadomości typu success
$color-red: #BD4932; //kolor ikony kosza
$color-grey: #A1A194; //kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji